<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>1.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eligendi, est ex excepturi in iure laudantium minima natus necessitatibus non placeat provident quas quisquam recusandae repellendus similique soluta? Ad adipisci, aliquid blanditiis dolor dolores ducimus eius et, fugiat harum libero non perspiciatis quia quidem reiciendis repellat similique sunt totam voluptates!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at commodi consequuntur culpa deserunt distinctio dolorem laudantium rerum sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at commodi consequuntur culpa deserunt distinctio dolorem laudantium rerum sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at commodi consequuntur culpa deserunt distinctio dolorem laudantium rerum sapiente.</p>
  </div>
</div>
